
.markdown-content {
    padding: 8px;
}

.markdown-content pre code {
    margin: 10px 0;
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    color: white;
    background-color: rgb(21, 27, 35);
    border-radius: 6px;
    width: 100%;
    display: block;
}

.markdown-content pre {
    margin: 20px 0;
}

.markdown-content code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: #656c7633;
    border-radius: 6px;
}

.markdown-content blockquote {
    padding: 0 1em;
    color: #9198a1;
    border-left: .25em solid #3d444d;
}

.markdown-content p, .markdown-content blockquote, .markdown-content ul, .markdown-content ol, .markdown-content dl, .markdown-content table, .markdown-content pre, .markdown-content details {
    margin-top: 0;
    margin-bottom: 1rem;
}

.markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.25;
}

.markdown-content h1 {
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid #3d444db3;
}

.markdown-content h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid #3d444db3;
}

.markdown-content h3 {
    font-size: 1.25em;
}

.markdown-content h4 {
    font-size: 1em;
}

.markdown-content h5 {
    font-size: .875em;
}

.markdown-content h6 {
    font-size: .85em;
    color: #9198a1;
}