@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 20px !important;
  width: 100%;

  display: flex;
  justify-content: center;
}

/* ant section */


.ant-picker {
  background-color: var(--color-bg);
  color: white;
  border: 1px solid var(--input);
}

.ant-picker-input>input::placeholder {
  /*color: var(--color-b) !important;*/
}

/* ant section end */


#root {
  width: 100%;
  max-width: 1920px;
}

:root {
  --color-bg: rgb(9, 9, 11);
  --color-base: rgb(39, 39, 42);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@layer base {
  :root {
    --background: #0a0a0a; /* Очень тёмный серый */
    --foreground: #fafafa; /* Очень светло-серый */
    --card: #0a0a0a; /* Очень тёмный серый */
    --card-foreground: #fafafa; /* Очень светло-серый */
    --popover: #0a0a0a; /* Очень тёмный серый */
    --popover-foreground: #fafafa; /* Очень светло-серый */
    --primary: #fafafa; /* Очень светло-серый */
    --primary-foreground: #16161a; /* Очень тёмно-серый */
    --secondary: #1a1a1a; /* Тёмно-серый */
    --secondary-foreground: #fafafa; /* Очень светло-серый */
    --muted: #F3F3F9; /* Тёмно-серый */
    --muted-foreground: #818181; /* Средне-серый */
    --accent: #1a1a1a; /* Тёмно-серый */
    --accent-foreground: #fafafa; /* Очень светло-серый */
    --destructive: #D93636; /* Тёмно-красный */
    --destructive-foreground: #fafafa; /* Очень светло-серый */
    --border: #1a1a1a; /* Тёмно-серый */
    --input: #1a1a1a; /* Тёмно-серый */
    --ring: #d9d9d9; /* Светло-серый */
    --chart-1: #0080ff; /* Ярко-синий */
    --chart-2: #008080; /* Тёмно-бирюзовый */
    --chart-3: #ffa347; /* Оранжевый */
    --chart-4: #c266ff; /* Фиолетовый */
    --chart-5: #ff3377; /* Ярко-розовый */

    --radius: 0.5rem;
  }
  .dark {
    --background: #0a0a0a; /* Очень тёмный серый */
    --foreground: #fafafa; /* Очень светло-серый */
    --card: #0a0a0a; /* Очень тёмный серый */
    --card-foreground: #fafafa; /* Очень светло-серый */
    --popover: #0a0a0a; /* Очень тёмный серый */
    --popover-foreground: #fafafa; /* Очень светло-серый */
    --primary: #fafafa; /* Очень светло-серый */
    --primary-foreground: #16161a; /* Очень тёмно-серый */
    --secondary: #1a1a1a; /* Тёмно-серый */
    --secondary-foreground: #fafafa; /* Очень светло-серый */
    --muted: #1a1a1a; /* Тёмно-серый */
    --muted-foreground: #818181; /* Средне-серый */
    --accent: #1a1a1a; /* Тёмно-серый */
    --accent-foreground: #fafafa; /* Очень светло-серый */
    --destructive: #661515; /* Тёмно-красный */
    --destructive-foreground: #fafafa; /* Очень светло-серый */
    --border: #1a1a1a; /* Тёмно-серый */
    --input: #1a1a1a; /* Тёмно-серый */
    --ring: #d9d9d9; /* Светло-серый */
    --chart-1: #0080ff; /* Ярко-синий */
    --chart-2: #008080; /* Тёмно-бирюзовый */
    --chart-3: #ffa347; /* Оранжевый */
    --chart-4: #c266ff; /* Фиолетовый */
    --chart-5: #ff3377; /* Ярко-розовый */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
